@model List<WebsiteBanHang.Context.Product>
@{
    ViewBag.Title = "ProductCategory";
}



<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4">
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </div> <!-- card-body .// -->
        </div>
    </div>
</div>
<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ================================= -->
        <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->


        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">


                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col-md-3 col-sm-6">
                            <div class="single-shop-product">
                                <div class="product-upper">


                                    <h2 href="@Url.Action("Detail", "Product", new { @Id = item.Id })" class="img-wrap">
                                        <span class="badge badge-danger"> NEW </span>
                                        <img src="~/Content/images/items/@item.Avartar" style="width:100px;height:150px;">
                                    </h2>

                                </div>
                                <h2> <a href="@Url.Action("Detail", "Product", new { @Id = item.Id })" class="h5 title"> @item.Name</a></h2>
                                <div class="product-carousel-price">
                                    <div class="price mt-1">@item.PriceDiscount  <span class="badge badge-danger"> VND </span>  </div> <del>@item.Price  <span class="badge badge-danger"> VND </span></del>
                                </div>

                               
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>


                        <br>
                    }
                </div>
                <nav class="mb-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

</section>



